/* resets: */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body{
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* portada: */
.portada{
  width: 100vw;
  height: 100vh;
  background-color: #d08582;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.image-container{
  width: 80%;
  margin: auto;
}
.image-container img{
  width: 100%;
}
.portada .link{
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  width: 260px;
  margin: auto;
}
.portada .link a{
  color: #ffffff;
}
.portada .link:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/* carretes: */
.carretes{
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/imagenes/dark-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
nav a{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
}
nav a:hover{
  text-decoration: underline;
}
nav img{
  width: 40px;
  margin: 0 20px;
}
.carretes-container{
  width: 90%;
  height: calc(100vh - 105px);
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
}
/* scrollbar*/
/* width */
.carretes-container::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.carretes-container::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Handle */
.carretes-container::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 80px;
}
/* Handle on hover */
/* .carretes-container::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
/* fin scrollbar */

.carretes-container a{
  width: 35%;
  margin: 20px;
}
.carrete-item img{
  width: 100%;
}
.carrete-item p{
  text-align: center;
  color: #ffffff;
  font-size: 27px;
  line-height: 1;
  letter-spacing: 1px;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
}
.carretes-container a:hover img{
  filter: drop-shadow(1px 2px 3px #d08582);
}
.carretes-container a:hover p{
  filter: drop-shadow(1px 2px 3px #d08582);
}

/* preloader para thumbnails: */
.preloader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader div {
  display: flex;
  width: 3.5em;
  height: 3.5em;
  border: 3px solid transparent;
  border-top-color: #d08582;
  border-bottom-color: #d08582;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.preloader div:before {
  content: '';
  display: block;
  margin: auto;
  width: 0.75em;
  height: 0.75em;
  border: 3px solid #d08582;
  border-radius: 50%;
  animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

/* miniaturas: */
.carretes-container.thumbnails{
  justify-content: center;
}
.carretes-container.thumbnails a{
  width: 40%;
  margin: 10px;
}
.carretes-container.thumbnails a:hover{
  cursor: zoom-in;
}
.thumbnails-item{
  position: relative;
  /* background-image: url('../assets/fotos/01-1971-Casamiento-15-de-enero/1.jpg'); */
  background-repeat: no-repeat;
  background-size: 61%;
  background-position: center;
}
.thumbnails-item .diapo{
  width: 103%;
}
.thumbnails-item p{
  color: #454545;
  font-family: 'Caveat Brush', cursive;
  position: absolute;
  z-index: 100;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}

/* ampliar foto: */
.ampliar-foto{
  display: none;
}
.close{
  text-align: right;
  padding: 25px 25px 0 0;
}
.close img{
  width: 5%;
}
.slideshow-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 80vh;
  margin: auto;
}
.left, .right{
  width: 5%;
}
.left img, .right img{
  width: 100%;
}
.slideshow-inner img{
  width: 65vw;
  height: auto;
  border-radius: 25px;
}
.close:hover img, .left:hover img, .right:hover img{
  filter: drop-shadow(1px 2px 3px #d08582);
}

@media (min-width:768px) { /*tablet*/
  .portada .link{
    width: 450px;
  }
  .carretes-container a{
    width: 15%;
    margin: 50px;
  }
  .carretes-container.thumbnails a{
    width: 25%;
  }
  .close img{
    width: 3%;
  }
  .slideshow-inner img{
    border-radius: 35px;
  }
  .left, .right{
    width: 3%;
  }

} /*fin tablet*/

@media (min-width:1085px) { /*desktop*/
  .carretes-container.thumbnails a{
    width: 10%;
    margin: 15px;
  }
  .slideshow-container{
    height: auto;
  }
  .slideshow-inner img{
    height: 85vh;
    width: auto;
  }

} /*fin desktop*/

@media (min-width:2250px) { /*desktop large*/
  .portada{
    flex-direction: column;
  }

}
